@model ToolClientOutil.Models.ViewModelLogin

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Welcome Back</h2>
        <p class="LoginSubtitle">Please Enter Your Details</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "EmailInput", @placeholder = "mail" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "PasswordInput", @placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="SubmitConnect">
            <input type="submit" value="Log In" class="btn btn-default" />
        </div>
        <div class="newButton">
            <p>New Here? <a href="">Create An Account</a> </p>
        </div>
    </div>
}
