@model IEnumerable<Tool.Data.Outil>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomOutil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VersionOutil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateMaj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.état)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomOutil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersionOutil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateMaj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.état)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commentaire)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOutil }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOutil }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOutil })
        </td>
    </tr>
}

</table>
